<link rel="stylesheet" href="./css/navbar.css"> 

<nav>
    <div id="nav">
        <div class="header-list1" id="headerl">
            <!-- <i class="fa fa-times" onclick="hideMenu()"></i>  -->
            <ul>
                <li><a class="scroll" href="#about-us">About Us</a></li>
                <!-- <li><a class="scroll" href="#vol-sect">Volunteer</a></li> -->
                <li><a href="/donate">Donate</a></li>
                
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <!-- <i class="fa fa-bars" onclick="showMenu()"></i> -->
    </div>
</nav>




<!-- <script src="./scripts/navbar.js"></script>
     -->