<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <!-- Font Icon -->
    <link href="/fa/font-awesome.css" rel="stylesheet" type="text/css" />

    <!-- Main css -->
    <link rel="stylesheet" href="css/register.css" />
  </head>

  <body>
    <header class="m-3">
      <h1 class="text-white">
        <span class="text-danger fs-1 fw-bolder font-monospace">Login</span>
        to<br />
        Your Lifesaving Account
      </h1>
    </header>

    <!-- Login code -->
    <div>
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-12">
            <!-- show error or success -->
            <% if(successFlashMessage){ %>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <%= successFlashMessage %>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <% } %> <% if(errorFlashMessage){ %>
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <%= errorFlashMessage %>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <% } %>

            <div class="form-container">
              <div class="form-icon"><i class="fa fa-user"></i></div>
              <h3 class="title">Login Here</h3>
              <form
                class="form-horizontal"
                id="loginForm"
                action="/login"
                method="post"
              >
                <div class="form-group">
                  <label>email</label>
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    id="loginEmail"
                    placeholder="email address"
                  />
                </div>
                <div class="form-group">
                  <label>password</label>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="password"
                    id="loginPassword"
                    name="password"
                  />
                </div>

                <button type="submit" class="btn btn-default">Login</button>
              </form>
              <p class="mt-2">
                Don't have an account?
                <a href="./register" class="text-info-emphasis">
                  Register here</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
